h1{
    font-family: 'Sansita Swashed', cursive;
    color: #DAA520;
    font-size: 40px;
}

p{
    font-family: 'Tenor Sans', sans-serif;
}

body{
    background-color: #808080 !important;
}

.container{
    background-color: white;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
}

.piva img {
    width: 200px;
}

.piva h1 {
    font-size: 60px ;
}

.pohare img{
    width: 100px;
}